# Ignore virtual environment
venv/
__pycache__/

# Ignore Data files (too large for GitHub)
*.mp4
*.avi
*.jpg
*.png

# Exception: details about the training videos
!data/input/clip_details.md

# Exception: keep the assets folder
!assets/*

# Ignore Models (YOLO weights are large)
*.pt
*.pkl
*.h5
*.pth

# Ignore IDE settings
.vscode/
.idea/
.DS_Store

# Ignore logs and temporary files
logs/
*.log
temp/
*.tmp

# Ignore the secret keys
.env

# Ignore runs and roboflow folders
runs/
motogp-team-detection-5/

# Ignore developer notes
dev_notes/
dinov3